{% extends 'previsao_do_tempo/base.html' %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'previsao_do_tempo/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'previsao_do_tempo/css/container-principal/container-principal.css' %}">
{% endblock %}

{% block content %}

    <div class="w-75 h-75 p-5 text-center previsao__containerPrincipal">
        <div class="d-flex justify-content-start align-items-center">
            <img class="previsao__iconeTitulo" src="{% static 'previsao_do_tempo/icons/cloud-sun-solid.png' %}">
            <h1 class="">Previsão do Tempo</h1>
        </div>
        <p>teste2</p>
    </div>

{% endblock %}